[submodule "shotit-api"]
	path = shotit-api
	url = https://github.com/shotit/shotit-api.git
[submodule "shotit-worker"]
	path = shotit-worker
	url = https://github.com/shotit/shotit-worker.git
[submodule "shotit-frontend"]
	path = shotit-frontend
	url = https://github.com/shotit/shotit-frontend.git
[submodule "shotit-meta-service"]
	path = shotit-meta-service
	url = https://github.com/shotit/shotit-meta-service.git
[submodule "shotit-media"]
	path = shotit-media
	url = https://github.com/shotit/shotit-media.git
[submodule "shotit-sorter"]
	path = shotit-sorter
	url = https://github.com/shotit/shotit-sorter.git
